@model IEnumerable<Milestone.Models.Cell>

<style>
    .game-button {
        width: 50px;
        height: 50px;
        padding: 0px;
        margin: 1px;
    }

    .game-button-image {
        width: 50px;
    }

    .button-zone {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .line-break {
        flex-basis: 100%;
        height: 0;
    }

    .button-label {
        font-size: 8px;
        text-align: center;
    }
</style>

@{
    // store image name in a string
    string imgStr = "";
}

<form>
    <div class="button-zone">

        @for (int i = 0; i < Model.Count(); i++)
        {
            <!--if the cell is visited, light grey picture-->
            if (Model.ElementAt(i).GetVisited())
            {
                if (Model.ElementAt(i).GetLive())
                {
                    imgStr = "MinesweeperBomb.jpg";
                }
                else
                {
                    imgStr = Model.ElementAt(i).GetNeighbors() + "lightgreybutton.jpg";
                }
            }
            else
            {
                imgStr = "darkgreybutton.jpg";
            }
            // start a new line each 10 buttons
            if (i % 10 == 0)
            {
                <div class="line-break"></div>
            }
        <button class="game-button" type="submit" value="@Model.ElementAt(i).GetID()" name="cellID" asp-controller="Cell" asp-action="HandleButtonClick">
        <!--show the correct image related to the state -->
            <img class="game-button-image" src="~/img/@imgStr" />
        </button>
        }
    </div>
</form>
<p>
    <a asp-controller="Cell" asp-action="Index">New Game</a>
</p>
