@model Milestone.Models.UserModel
@using Microsoft.AspNetCore.Http

<div>
    <h4>Login Failed</h4>
    <hr />
    <p>The username or password entered has not been registered. Please try again or register an account.</p>
</div>
<div>
    <a asp-action="Index">Back to Login</a>
</div>
