@model Milestone.Models.UserModel

<div>
    <h4>Logged In</h4>
    <hr />
    <p>Welcome, @Model.username! You are now ready to start playing minesweeper.</p>
    <a asp-controller="Cell" asp-action="Index">Play Minesweeper</a>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
